@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
:root {
    --header-height: 3.5rem;
    /*  Colors*/
    --title-color: hsl(250, 8%, 15%);
    --text-color: hsl(250, 8%, 35%);
    --body-color: hsl(250, 60%, 98%);
    --container-color: #fff;
    --shadow: hsla(0, 0%, 15%, 0.1);
    --link-color:hsl(0,88%,61%);
    /* ---------------- */
    /* Font */
    --body-font: 'Poppins', sans-'serif';
    --biggest-font-size: 4rem;
    --hl-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    /* ---------------- */
    /* Font weight */
    --font-medium: 500;
    --font-bold: 600;
    /* ========================= */
    /*margenes Bottom */
    --mb-0-5: .5rem;
    --mb-0-7: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    --mb-3-5: 3.5rem;
    --mb-4: 4rem;
    /* Z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}


/* ========================== */

@media screen and (max-width: 992px) {
     :root {
        --biggest-font-size: 2rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
    }
}


/* ===================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    color: var(--text-color);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button{
    cursor: pointer;
}

button , input{
    border: none;
    outline: none;
}
/* ------------------------------ */
/* ---------------- Layout-------- */
.container.home{
    padding-top: 15px;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}
/* -----------------Header Section-------------- */
.header{
    height: 50px;
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);    
}
/* ----------------Nav--------------- */

.nav{
    height:calc( var(--header-height)+1.5rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 3rem;
}

.login_toggle,
 .nav_logo ,
 .nav_toggle 
 , .nav_shop
{
    color: var(--title-color)
}

.nav_logo{
    text-transform: lowercase;
    font-weight:var(--font-bold) ;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
}

.nav_logo-icon{
    font-size: 1.25rem;
}

.nav_btns{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-left: auto;
}
.nav_toggle,
.login_toggle
.nav_shop{
    font-size: 1.25rem;
    cursor: pointer;
}

.nav_list{
    display: flex;
    align-items: center;
    column-gap: 3rem;
}

.nav_link{
    color:var(--title-color);
    font-weight: var(--font-medium);
    font-size: var(--normal-font-size);
}

.nav_link:hover{
    color: var(--link-color);
}

.nav_toggle{
    display: none;
}

/* Active link */
.active-link{
    position: relative;
}
.active-link::before{
    content: '';
    bottom: -.75rem;
    left:45%;
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: var(--title-color);
    border-radius: 50%;
}

.footer{
    background-color: var(--container-color);
    /* height: 100px; */
    width: 100%;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
}

/* ------------------Footer------------- */
/* .footer{
    position: relative;
    overflow: hidden;
} */
.footer_container{
        grid-template-columns: repeat(4,1fr);
        display: flex;
        justify-content: center;
        column-gap: 7rem;
}

.footer_logo{
    color: var(--title-color);
    text-transform: lowercase;
    font-weight: var(--font-bold);
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    margin-bottom: var(--mb-1);
}

.footer_logo-icon{
    font-size: 1.25rem;
}

.footer_description{
    margin-bottom: var(--md-2-5);
}

.footer_social{
    display: flex;
    column-gap: .75rem;
    margin-top: 1.25rem;
}

.footer_social-link{
    display: inline-flex;
    background-color: var(--container-color);
    padding: .25rem;
    border-radius: .25rem;
    color: var(--text-color);
    font-size: 1rem;
}

.footer_social-link:hover{
   background-color: var(--link-color);
   color: #fff;
}

.footer_title{
    font-size: var(--h3-font-size);
    margin-bottom: 20px;
}

.footer_links{
    display: grid;
    row-gap:.35rem;
}

.footer_link{
    font-size: var(--small-font-size);
    color:va(--text-color);
    transition: .3s;
}

.footer_link:hover{
    color: var(--title-color);
}

.footer_copy{
    display: block;
    text-align: center;
    font-size: var(--smaller-font-size);
    margin-top: 8rem;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
  
  .color-option.shop{
    height: 20px;
    width: 20px;
    list-style: none;
    border-radius: 4px;
    margin: 7px;
    transition: 0.2s;
    cursor: pointer;
  }
  .color-option:hover.shop{
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .color-option.is-selected.shop{
    transform: scale(1.1);
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .color-option:nth-child(1).shop{
    background: #5B00B7;
  }
  
  .color-option:nth-child(2).shop{
    background: #3a68b7;
  }
  
  .color-option:nth-child(3).shop{
    background: #34b7b0;
  }
  
  .color-option:nth-child(4).shop{
    background: #4f8f44;
  }
  
  .color-option:nth-child(5).shop{
    background: #c0582f;
  }
  
  .color-option:nth-child(6).shop{
    background: #a83030;
  }
  
  .color-option:nth-child(7).shop{
    background: #994385;
  }

  
  .color-grid.shop{
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  h1 span.shop{
    font-family: monospace;
    font-weight: 500;
  }
  .coloSelector.shop{}
  
  .group.shop{
    direction: rtl;
    display: flex;
    position:absolute;
  top:0;
  left:0;
    /* background: white;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1); */
    transform: translateX(100%);
  }
  .open.shop{
    transform: translateX(-10px);
  }
:root{
    --first-color: #f44336;
    --primary-color: #5B00B7;
  }
  section.shop{
    background-color: #f0f5f7;
  }
  .col-1.shop{
    width: 8.33%;
}

.col-2.shop{
    width: 16.66%
}

.col-3.shop{
    width: 25%;
}

.col-4.shop{
    width: 33.33%;
}

.col-5.shop{
    width: 41.68%;
}

.col-6.shop{
    width: 50%;
}

.col-7.shop{
    width: 58.33%;
}

.col-8.shop{
    width: 66.66%;
}

.col-9.shop{
    width: 75%;
}

.col-10.shop{
    width: 83.33%;
}

.col-11.shop{
    width: 91.66%;
}

.col-12.shop{
    width: 100%;
}


.row.shop{
    display: flex;
}
.containar.shop{
    margin: auto 40px;
}
.myStyle.shop{
    justify-content: space-evenly;
}

.products.shop{
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.product.shop{
    background: #f9f8fc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product img.shop{
    width: 100%;
}

.product-content.shop{
    padding: 1rem 2rem;
}

.product .product-title.shop{
    font-size: 2rem;
}

.product-description.shop{
    text-align: justify;
}

.product-title.shop,
.product-price-container.shop,
.product-description.shop,
.product-category.shop{
    padding: 0.5rem 0;
}

.product-price-container.shop{
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-to-cart.shop{
    background: rgb(16, 8, 69);
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: white;
    border-radius: 1rem;
}

.add-to-cart ion-icon.shop{
    font-size: 3rem;
}
.left.shop{

    background-color: white;
    border-radius: 8px;
    padding-top: 17px;
    /* padding-bottom: 110px; */
    /* height: 192vh; */
}
input.shop{
    margin-right: 5px;
}
.f_se.shop{
    justify-content: space-between;
}
.right.shop{

}

a
.shop{
    text-decoration: none;
}
.product-card.shop{
    /* width: 380px; */
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 15px auto;
    background: #fafafa;
}

.badge.shop{
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb.shop{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img.shop{
    max-width: 100%;
    max-height: 100%;
}

.product-details.shop{
    padding: 5px;
}

.product-catagory.shop{
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a.shop{
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover.shop{
    color: #fbb72c;
}

.product-details p.shop{
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details.shop{
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div.shop{
    float: left;
    width: 50%;
}

.product-price.shop{
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small.shop{
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links.shop{
    text-align: right;
}

.product-links a.shop{
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover.shop{
    color: #fbb72c;
}
.section.shop{
    padding: 7rem 0 2rem;
}
.section_filter.shop{
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.filter_item.shop{
    margin-bottom: 18px;
}

.section_title.shop,
.breadcrum_title.shop{
    font-size: xx-large;
}

.section_title.shop,
.breadcrum_subtitle.shop{
    /* margin-bottom: var(--mb-3); */
}

.section_title.shop,
.breadcrum_title.shop,
.breadcrum_subtitle.shop{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.breadcrum_subtitle span.shop{
    color: var(--first-color);
}


.navigation input.shop{
    display: none;
    opacity: 0;
    height: 0;
    width: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .page-wrapper.shop{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbfbfb;
    padding: 40px;
    height: 100vh;
    width: 100vw;
    box-shadow: 0 0 120px -50px #ff00004d inset;
  }
  
  .content.shop{
    position: relative;
    background-color: #f3f3f3;
    height: calc(100% - 60px);
    width: 100%;
    max-width: 991px;
  }
  
  .page.shop{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 20px;
    left: 20px;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
  }
  
  .page .item.shop{
    background-color: #d7d7d7;
    box-shadow: 0 0 15px -12px rgb(0 0 0 / 21%), 0 0 30px -21px rgb(61 14 14 / 44%) inset;
    height: calc((100% - 20px) / 2);
    width: calc((100% - 40px) / 3);
    margin-right: 20px;
    margin-bottom: 20px;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
  }
  
  .page1 .item.shop{
    background-color: #d6e9d6;
  }
  
  .page2 .item.shop{
    background-color: #e9d6d6;
  }
  
  .page3 .item.shop{
    background-color: #d6e0e9;
  }
  
  .page4 .item.shop{
    background-color: #e5d6e9;
  }
  
  .page5 .item.shop{
    background-color: #e9e7d6;
  }
  
  .page .item.item:nth-child(3n).shop{
    margin-right: 0;
  }
  
  .navigation.shop{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(231, 231, 231);
    height: 60px;
    padding: 10px 60px;
    width: 100%;
    max-width: 991px;
    box-shadow: 0 0 3px -7px black inset;
    user-select: none;
  }
  
  .navigation-wrapper.shop{
    display: flex;
  }
  
  .navigation-wrapper .nav-item div.shop{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f3f3f3;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.322), 0 0 2px #000000, 0 0 2px #000000, 0 0 1px #000000, 0 0 1px #000000, 0 0 1px #000000, 0 0 1px #000000;
    height: 36px;
    width: 36px;
    background-color: var(--first-color);
    border-radius: 50%;
    margin: 0 6px;
    font-weight: 600;
    transition: background-color 0.21s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .navigation:before.shop{
    content: '';
    position: absolute;
    background-color: rgb(231, 231, 231);
    border-radius: 50%;
    height: 80px;
    width: 78px;
    left: 0;
    top: -10px;
    right: 0;
    margin: 0 auto;
  }
  
  .navigation .nav-item.shop{
    position: relative;
    cursor: pointer;
    z-index: 1;
  }
  
  .navigation .nav-item div.shop{
    transition: background-color 0.135s ease-out;
  }
  
  .navigation .nav-item:hover div.shop,
  .navigation .arrow:hover.shop{
    background-color: var(--first-color);
    opacity: .5;
  }
  
  .navigation .arrow.shop{
    background-color: var(--first-color);
    color: #ffffff;
    position: absolute;
    height: 60px;
    width: 60px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.21s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
  }
  
  .navigation .arrow span.shop{
    transform: scale(1, 1.82);
    font-weight: 600;
    font-size: 17px;
    text-shadow: 0 0 1px #000000;
  }
  
  .navigation .arrow label.shop{
    height: 100%;
    width: 100%;
    position: absolute;
    cursor: pointer;
    left: 0;
  }
  
  .navigation .arrow-left.shop{
    left: 0;
  }
  
  .navigation .arrow-right.shop{
    right: 0;
  }
  
  #page1-input:checked ~ .page-wrapper .nav-page1 div.shop,
  #page2-input:checked ~ .page-wrapper .nav-page2 div.shop,
  #page3-input:checked ~ .page-wrapper .nav-page3 div.shop,
  #page4-input:checked ~ .page-wrapper .nav-page4 div.shop,
  #page5-input:checked ~ .page-wrapper .nav-page5 div.shop{
    background-color: var(--first-color);
    transform: scale(1.06);
  }
  
  .blocker.shop{
    position: absolute;
    background: red;
    opacity: 0.5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .page .item:nth-child(1).shop{
    animation: hidePageItem1 0.86s forwards;
    opacity: 1;
  }
  
  @keyframes hidePageItem1{
    0%{
      transform: none
    } 48%{
      background-color: white;
    } 100%{
      transform: skew(8deg, 10deg) rotate(-40deg) translate(-80%, 150%) scale(0.12);
      background-color: white;
      opacity: 0;
    }
  }
  
  .page .item:nth-child(2).shop{
    animation: hidePageItem2 0.86s 0.09s forwards;
    opacity: 1;
  }
  
  @keyframes hidePageItem2{
    0%{
      transform: none
    } 48%{
      background-color: white;
    } 100%{
      transform:  translate(0, 150%) scale(0.12);
      background-color: white;
      opacity: 0;
    }
  }
  
  .page .item:nth-child(3).shop{
    animation: hidePageItem3 0.86s 0.18s forwards;
    opacity: 1;
  }
  
  @keyframes hidePageItem3{
    0%{
      transform: none;
    } 48%{
      background-color: white;
    } 100%{
      transform: skew(-8deg, -10deg) rotate(40deg) translate(80%, 150%) scale(0.12);
      background-color: white;
      opacity: 0;
    }
  }
  
  .page .item:nth-child(4){
    animation: hidePageItem4 0.86s 0.27s forwards;
    opacity: 1;
  }
  
  @keyframes hidePageItem4{
    0%{
      transform: none;
    } 48%{
      background-color: white;
    } 100%{
      transform: skew(8deg, 10deg) rotate(-40deg) translate(0, 75%) scale(0.12);
      background-color: white;
      opacity: 0;
    }
  }
  
  .page .item:nth-child(5).shop{
    animation: hidePageItem5 0.86s 0.36s forwards;
    opacity: 1;
  }
  
  @keyframes hidePageItem5{
    0%{
      transform: none;
    } 48%{
      background-color: white;
    } 100%{
      transform:  translate(0, 75%) scale(0.12);
      background-color: white;
      opacity: 0;
    }
  }
  
  .page .item:nth-child(6).shop{
    animation: hidePageItem6 0.86s 0.45s forwards;
    opacity: 1;
  }
  
  @keyframes hidePageItem6{
    0%{
      transform: none;
    } 48%{
      background-color: white;
    } 100%{
      transform: skew(-8deg, -10deg) rotate(40deg) translate(0, 75%) scale(0.12);
      background-color: white;
      opacity: 0;
    }
  }
  
  #page1-input:checked ~ .page-wrapper .page1 .item.shop,
  #page2-input:checked ~ .page-wrapper .page2 .item.shop,
  #page3-input:checked ~ .page-wrapper .page3 .item.shop,
  #page4-input:checked ~ .page-wrapper .page4 .item.shop,
  #page5-input:checked ~ .page-wrapper .page5 .item.shop{
    opacity: 0;
    pointer-events: initial;
    z-index: 0;
    animation: showPageItem 0.38s forwards
  }
  
  @keyframes showPageItem{
    0%{
      opacity: 0;
      transform: translate(0, 20px);
    } 88%{
      opacity: 1;
    } 100%{
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  
  #page1-input:checked ~ .page-wrapper .page1 .item:nth-child(1),
  #page2-input:checked ~ .page-wrapper .page2 .item:nth-child(1),
  #page3-input:checked ~ .page-wrapper .page3 .item:nth-child(1),
  #page4-input:checked ~ .page-wrapper .page4 .item:nth-child(1),
  #page5-input:checked ~ .page-wrapper .page5 .item:nth-child(1).shop{
    animation-delay: 0.45s;
  }
  
  #page1-input:checked ~ .page-wrapper .page1 .item:nth-child(2),
  #page2-input:checked ~ .page-wrapper .page2 .item:nth-child(2),
  #page3-input:checked ~ .page-wrapper .page3 .item:nth-child(2),
  #page4-input:checked ~ .page-wrapper .page4 .item:nth-child(2),
  #page5-input:checked ~ .page-wrapper .page5 .item:nth-child(2).shop{
    animation-delay: 0.52s;
  }
  
  #page1-input:checked ~ .page-wrapper .page1 .item:nth-child(3),
  #page2-input:checked ~ .page-wrapper .page2 .item:nth-child(3),
  #page3-input:checked ~ .page-wrapper .page3 .item:nth-child(3),
  #page4-input:checked ~ .page-wrapper .page4 .item:nth-child(3),
  #page5-input:checked ~ .page-wrapper .page5 .item:nth-child(3).shop{
    animation-delay: 0.59s;
  }
  
  #page1-input:checked ~ .page-wrapper .page1 .item:nth-child(4),
  #page2-input:checked ~ .page-wrapper .page2 .item:nth-child(4),
  #page3-input:checked ~ .page-wrapper .page3 .item:nth-child(4),
  #page4-input:checked ~ .page-wrapper .page4 .item:nth-child(4),
  #page5-input:checked ~ .page-wrapper .page5 .item:nth-child(4).shop{
    animation-delay: 0.66s;
  }
  
  #page1-input:checked ~ .page-wrapper .page1 .item:nth-child(5),
  #page2-input:checked ~ .page-wrapper .page2 .item:nth-child(5),
  #page3-input:checked ~ .page-wrapper .page3 .item:nth-child(5),
  #page4-input:checked ~ .page-wrapper .page4 .item:nth-child(5),
  #page5-input:checked ~ .page-wrapper .page5 .item:nth-child(5).shop{
    animation-delay: 0.73s;
  }
  
  #page1-input:checked ~ .page-wrapper .page1 .item:nth-child(6),
  #page2-input:checked ~ .page-wrapper .page2 .item:nth-child(6),
  #page3-input:checked ~ .page-wrapper .page3 .item:nth-child(6),
  #page4-input:checked ~ .page-wrapper .page4 .item:nth-child(6),
  #page5-input:checked ~ .page-wrapper .page5 .item:nth-child(6).shop{
    animation-delay: 0.8s;
  }
  
  .page-wrapper .navigation .arrow label.shop{
    display: none;
  }
  
  #page1-input:checked ~ .page-wrapper .navigation .arrow-right label[for="page2-input"].shop{
    display: block;
  }
  
  #page2-input:checked ~ .page-wrapper .navigation .arrow-left label[for="page1-input"],
  #page2-input:checked ~ .page-wrapper .navigation .arrow-right label[for="page3-input"].shop{
    display: block;
  }
  
  #page3-input:checked ~ .page-wrapper .navigation .arrow-left label[for="page2-input"],
  #page3-input:checked ~ .page-wrapper .navigation .arrow-right label[for="page4-input"].shop{
    display: block;
  }
  
  #page4-input:checked ~ .page-wrapper .navigation .arrow-left label[for="page3-input"],
  #page4-input:checked ~ .page-wrapper .navigation .arrow-right label[for="page5-input"].shop{
    display: block;
  }
  
  #page5-input:checked ~ .page-wrapper .navigation .arrow-left label[for="page4-input"].shop{
    display: block;
  }
  
  @media (max-width: 480px){
    .navigation .arrow.shop{
      display: none;
    }
  }

@media screen and (max-width:990px){
    .left.shop{
        width: 40%;
        padding-bottom: 10px;
        height: auto;
    }
    .right.shop{
        width: 50%;
    }
    .product-card.shop{
        width: 100%;
        margin: 20px auto;
    }
    .product-tumb.shop{
        height: 200px;
    }
}


@media screen and (max-width:474px){

    .left.shop{
        width: 80%;
        padding-bottom: 10px;
        margin-bottom: 16px;
        height: auto;
    }
    .right.shop{
        width: 80%;
    }
    .product-card.shop{
        width: 100%;
        margin: 20px auto;
    }
}

section.aside-cart{
    background-color: #f0f5f7;
    align-items: center;
    justify-content: space-evenly;
}
section.aside-cart>*{
    padding-right: 0; 
    padding-left: 0;
}
.price.aside-cart,.delete.aside-cart{
    color:rgb(245 35 35);
}
.detailsBody{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.detailsheader{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.DetailsSubtitle{
    position: absolute;
    top: 70px;
}
.DetailsTitle{
  display: flex;
  position: absolute;
  top: 0;
  font-size: 36px;
}
.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.product-details h4 {
  text-align: center;
}

.product-price-details{
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}
.detailsCart {
  background-color: #6b4caf;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
}
#faq .show,#faq [aria-expanded='true'],#contactSendBtn{
  background-color: #c0582f;
  color: white;
}
#contact a{
  color:#000000;
text-decoration:none ;
}
.home {
  width: 100%;
  overflow: hidden;
}
.home-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}
.home_content{
  padding: 9rem 0 2rem;
  grid-template-columns: repeat(2,1fr);
  column-gap: 3rem;
}
.grid{
  display: grid;
}
.home_group{
  display: grid;
  position: relative;
  padding-top: 2rem;
}

.home_img{
  height: 430px;
  transform: translateY(-3rem);
  justify-self: center;
}
.home_indicator{
  width: 8px;
  height: 8px;
  background-color: var(--title-color);
  border-radius: 50%;
  position: absolute;
  bottom: 15%;
  left: 45%;
}


.home_indicator:after{
  content: '';
  position: absolute;
  width: 1px;
  height: 75px;
  background-color: var(--title-color);
  top: 0;
  right: 45%;
}

.home_details-img{
  position: absolute;
  bottom: 0;
  right: 58%;
}

.home_details-title{
  font-weight: var(--font-medium);
}

.home_details-title,
.home_details-subtitle{
  display: block;
  font-size: var(--small-font-size);
  text-align: right;
}

.home_subtitle{
  font-size: var(--h3-font-size);
  text-transform: uppercase;
  margin-bottom: var(--mb-1);
}

.home_title{
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  line-height: 109%;
  margin-bottom: var(--mb-1-5);
}

.home_description{
  margin-bottom: var(--mb-2-5);
  padding-right: 2rem;
}

.home_buttons{
  display: flex;
  justify-content: space-between;
}
/* ================================ */
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: var(--text-color);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 5rem;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: var(--title-color);
}
.discount_container{
  grid-template-columns: repeat(2,max-content);
  justify-content: center;
  align-items: center;
  column-gap: 7rem;
  background-color: var(--container-color);
}

.discount_img{
  width: 200PX;
}

.discount_data{
  padding-left: 6rem;
  text-align: center;
}

.discount_title{
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
}

/* =============Scroll up========== */
/* .scrollup{
  position: fixed;
  right: 1rem;
  bottom: 3rem;
  background-color: var(--link-color);
  border-radius: .4rem;
  display: inline-flex;
  padding: .25rem;
  z-index: var(--z-tooltip);
  opacity: 0;
  transition: .4s;
} */



/* ==========New Arrivals Section */
.new_container{
  padding-top: 1rem;
}

.new_img{
  width: 150px;
  margin-bottom: var(--mb-1);
  transition: .3s;
}

.new_content{
  position: relative;
  background-color: var(--container-color);
  width: 310px;
  padding: 2rem 0;
  border-radius: 1rem;
  text-align: center;
  overflow: hidden;
  flex: 1;
}

.new_tag{
  position: absolute;
  top: 8%;
  left: 8%;
  background-color: var(--link-color);
  font-size: var(--small-font-size);
  padding:  .25rem .5rem;
  border-radius: .25rem;
}

.new_title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.new_suptitle{
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.new_prices{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}

.new_price{
  font-weight: var(--font-medium);
  color:  var(--title-color);;
}

.new_discount {
  color: var(--link-color);
  font-size: var(--smaller-font-size);
  text-decoration: line-through;
  font-weight: var(--font-medium);
}
.new_button {
  display: inline-flex;
  padding: .5rem ;
  border-radius: .25rem .25rem .75rem .25rem ;
  position: absolute;
  bottom: 0;
  right:-4rem;
}

.new_icon{
  font-size: 1.25rem;
}
.new_content:hover .new_img{
  transform: translateY(-.5rem);
}

.new_content:hover .new_button{
  right: 0;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* ==========Step Section============= */
.steps_bg{
  background-color: var(--container-color);
  padding: 3.5rem 2.5rem;
  border-radius: 1rem;
}

.steps_container{
  grid-template-columns: repeat(3,1fr);
  column-gap: 3rem;
  padding-top: 1rem;
  
}

.steps_card{
  background-color: var(--body-color);
  padding: 2.5rem 3rem 2rem 1.5rem;
  border-radius: 1rem;
}

.steps_card-number{
  display: inline-block;
  background-color: var(--link-color);
  color: #fff;
  padding: .5rem .75rem;
  border-radius: .25rem;
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1-5);
  transition: .3s;
}

.steps_card-title{
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-0-5);
}

.steps_card-description{
  font-size: var(--font-medium);
}
.steps_card:hover .steps_card-number{
  transform: translateY(-1rem);
}
.section_title{
  font-size: var(--biggest-font-size);
  margin-bottom: var(--mb-3);
  text-align: center;
}
.button-link{
  color: var(--text-color);
}
.button{
  display: inline-block;
  background-color: var(--link-color);
  color:#fff;
  padding: 1rem 1.75rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
  transition: .3s;
  margin: 0 1rem 2rem 1rem;
}

.button:hover{
  background-color: var(--link-color-alt);
}
section.home{
  padding: 7rem 0 2rem;
}
*{
  margin: 0;
  
}
.red-color{
  color:red;
}
.theheader{
  width:100%;
 text-align: center;
}
.para1{
  font-size:larger;
  font-weight: bold;
}
.cart_container{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
